<!DOCTYPE html>
<html>
  <head>
    <title>Oligraphy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if @magazine %>
      <link href="<%= magazine_stylesheet_path(@magazine) %>" rel="stylesheet" type="text/css" />
    <% end %>
  </head>

  <body>
    <div class="top">
      <%= link_to "Oligrafija", root_path %>
    </div>
    <% flash.each do |name, msg| -%>
      <%= msg %>
    <% end -%>

    <%= yield %>

    <% if Rails.env.development? %>
      <div class="alert alert-info alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= debug(params)%>
      </div>
    <% end %>
  </body>
</html>
